body {
    background-color: lightcoral;
    /* margin: 0; */

}
.device-box {
    border: 5px solid aqua;
}
.device {
    border: 5px solid red;
    position: relative;
}

.screen-box {
    border: 5px solid greenyellow;
    position: absolute;
    top: 22%;      /* tune these 4 to match where the "screen" */
    left: 15%;     /* actually sits inside your SVG artwork    */
    width: 70%;
    aspect-ratio: 4 / 3;  /* locks width:height ratio as it scales */
}

.screen {
     border: 15px solid purple;
}